*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image: url(Asset\ 1\ 3.png);
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px ;
}

.logo img{
    height: 50px;
    line-height: 60px;

}

nav ul{
    padding-right: 300px;
}

nav ul li{
    display: inline-block;
    color: #404444;
    line-height: 60px;
    list-style: none;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    text-decoration-color: #2274FF;
}

nav ul li a::after{
    content: '';
    position: absolute;
    background-color: blue;
    height: 3px;
    width: 50px;
    bottom: 525px;
    left: 672px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    margin: auto;
    width: 85%;

}

.row img{
    width: 100%;
    height: 100%;
}

.class_1{
    text-align: center;
    padding-top: 100px;
    height: 600px;
}

.class_2{
    text-align: center;
}

.class_3{
    text-align: center;
    padding-top: 50px;
}

.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: auto;
    width: 85%;
}

.row2 img{
    width: 100%;
    height: 100%;
    padding: 20px;
}

#three{
    width: 322.08px;
    height: 179.2px;
}

.class_4{
    text-align: center;
    padding-top: 50px;

}

.row3{
    position: relative;
    padding-top: 50px;
}

#id1{
    height: 0px;
}

#id2{
    position: absolute;
    top: 50px;
}

#id3{
    position: absolute; 
    top: 120px;
    padding-left: 50px;
}

.row4{
    float: right;
    padding-top: 100px;
}

.row5{
    padding-left: 50px;
    height: 1000px;
}

#id4{
    float: right;
    padding-top: 100px;
}

#id5{
    padding-top: 50px;
    padding-left: 500px;
}

footer img{
    padding-top: 100px;
}